<p id="notice"><%= notice %></p>

<h1>Shows that might be on tonight</h1>
<p class="lead">
  Every show in the database.
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= link_to show.title, show %></td>
      </tr>
    <% end %>
  </tbody>
</table>
